
body{
    color:black;
}
.row {
  -webkit-animation: fadein 3s;
}
@keyframes fadein {
    from{opacity: 0;}
    to{opacity: 1;}
}
@-webkit-keyframes fadein{
    from{opacity:0;}
    to{opacity:1;}
}
.header, .profile-page-name {
    font-family: 'ABeeZee';
    font-size: 60px;
}
.profile {
 margin: 50px 0px 40px 0px;
}
.profilePhoto {
    width:100%;
    border-radius: 5px;
}
.subHeader {
font-family: 'ABeeZee';
color: black;
}