body {
    color:black;
}
.header .profile-page-name {
    font-family: 'ABeeZee';
    font-size: 60px;
}
.profile {
 margin: 50px 0px 40px 0px;
}
.profilePhoto {
    width:100%;
    border-radius: 5px;
}
.subHeader {
font-family: 'ABeeZee';
color: black;
}

.row {
    margin-top: 80px;
}

.student-details .profile-info {
    float: left;
    display: inline-block;
}